h1 
{
  text-align: center;
}

h3
{
  text-align: center;
}

body
  {
	background-color: #F4D2ED;
	font-family: Arial;
	}
h2 
{
	text-align: center;
	align-content: center;
}

td
{
	border: 1px solid black ;
}
th
{
	width: 400px;

}
table
{
	border: 1px solid black;
	padding: 4;
	text-align: center;
	
}

nav{
	margin-top: 10px;
}

.violet
{
	background-color: #DB0CDB;
}
.blue
{
	background-color: #1AB2D8;
}

.dark_blue
{
	background-color: #0005E7
}

.red
{
	background-color: red;
}
.orange
{
	background-color: orange;
}
.yellow
{
	background-color: yellow;
}
.green
{
	background-color: green;
}


footer
{
    height: 40px;
    width: 100%;
    padding: 10px;
    background-color: #FAB8E0;
}
header
{
	height: 120px;
	background-color: #FAB8E0;
	padding: 10px;
	width: 100%;

}
.logo
{
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 7px #666;
}
#hd
{
	padding: 10px;
	background-color:  #FAB8E0 ;
	font-size: 25px;
	font-family: Arial;
	margin-right: 5%;
}
.cont
{
	max-width:960px;
	margin: auto;
	margin-top:20px;
	margin-bottom: 10px;	
	padding:10px;
	
	background-color: #F4D2ED;
}

 .center
 {
 	margin: auto; 	
 }
 .content{
	padding: 2%;
}

.logo_b{
	margin-left: 5%;
	padding-top: 5px;
	font-size: 30px;
	display: flex;
}
}

#buttons{
	padding-top: 4px;
}
.button{
	border-radius: 3px;
	border: 1px;
	font-family: Arial;
	background-color: #F277EB;
	font-size: 20px;
	text-align: center ;
	margin-bottom:4px;
	padding: 10px;
}

div a{
	text-decoration: none;
}

img
{
	height: 75%;
	width: 75%;
}
#fd{
	display: flex;
	flex-direction: column-reverse;
}

@media screen and (min-width:900px)

{


#buttons{
	padding-top: 10px;
}	
 
.navigation {
	max-width: 960px;
	margin:auto;
}
	.navigation div {
	display: inline-block;
}
	.button{
	border-radius: 3px;
	border: 1px;
	font-family: Arial;
	background-color: #F277EB;
	font-size: 20px;
	width: 290px;
	text-align: center ;
	margin-bottom:4px;
	padding: 10px;
}
div a{
	text-decoration: none;
}

.logo_b{
	margin: 0 auto;
	width: 960px;	
	font-size: 30px;
	display: flex;
}

#fd{
	display: flex;
	flex-direction:column;
	
}
.cont{
	background-color: #EBADF4
}

}